Package: https://youtube.com/@thanhdzso1
Name: VTIOS 
Depends: mobilesubstrate
Version: 111.0
Architecture: iphoneos-arm
Description: oke
Maintainer: Văn Thành IOS
Author: Văn Thành IOS
Section: Tweaks
